[submodule "exercises/6.0/6.1/exercicio/exercises/6.0/6.1/exercicio/Just-validate"]
	path = exercises/6.0/6.1/exercicio/exercises/6.0/6.1/exercicio/Just-validate
	url = git@github.com:horprogs/Just-validate.git
[submodule "exercises/6.0/6.1/exercicio/exercises/6.0/6.1/exercicio/DatePickerX"]
	path = exercises/6.0/6.1/exercicio/exercises/6.0/6.1/exercicio/DatePickerX
	url = git@github.com:AlexKrupko/DatePickerX.git
