

#mario, #goomba, #bowser{
    width: 300px;
}
#mario{
    position: absolute;
    z-index: 1;
    top: 50px;
}
#goomba{
    position: absolute;
    z-index: 2;
    top: 500px;
}
#bowser{
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 400px;
}
#baloon{
    width: 150px;
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 300px;
}
p{
    width: 150px;
    position: absolute;
    z-index: 4;
    top: 130px;
    left: 330px;
}