
div:hover{
    border-style: solid;
}
div:first-of-type{
color: red;
font-size: large;
}
div:nth-of-type(2){
    color: blue;
    font-size: medium;
}
div:nth-of-type(3){
    color: green;
}
div:nth-of-type(4){
    color: purple;
}
div:last-of-type{
    color: palevioletred;
}
h3:first-of-type{
    
}
h3:nth-of-type(2){

}