body {
    text-align: left;
    background-color: burlywood;
}
header{
    width: 100%;
    text-align: center;
    
}
header li{
    display: inline-block;
    width: 150px;
}
tr, td{
    border: 1px solid black;
}
#top{
    text-align: center;
}
#text-top{
    display: inline-block;
    vertical-align: top;
}
#picture-top{
    display: inline-block;
    margin-left: 10px;
    max-width: 700px;
    max-height: 300px;
    vertical-align: top;

}
.format-main{
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;

}
.format-main p{
    display: inline-block;
    max-width: 400px;
    text-align: justify;
   
}
img{
    margin-left: 10px;
    max-width: 400px;
    vertical-align: top;
}
aside{
    text-align: center;
    font-size: 35px;
    color: darkmagenta;
}
footer{
    background-color: gray;
    font-size: medium;
    text-align: center;
    
}